<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= process.env.APP_NAME %></title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>
<body style="box-sizing: border-box; margin: 0; font-family: Nunito, Helvetica; background: #F1F5FD; padding: 2em; color: #4F5866;">
  <table cellpadding="0" cellspacing="0" border="0" style="width: 600px; max-width: 600px; margin: 0 auto; background-color: white; border-radius: 6px; ">
    <tr>
      <td>
        <div style="background: #FA0203; color: white; padding: 2em; border-top-right-radius: 6px; border-top-left-radius: 6px;">
          <h4 style="text-align: center; margin-bottom: 20px; letter-spacing: 2px;"><%= process.env.APP_NAME %></h4>
          <div style="width: 100%; height: 1px; background-color: #fff;"></div>
          <h2 style="text-align: center; margin-top: 20px; letter-spacing: 2px;"><%= data.title %></h2>
        </div>
        <div style="padding: 3em 2em;">
          <p style="font-size: 1.1rem; margin-bottom: 10px;">Hi <%= data.fullname %>,</p>
          <p><%= data.message %></p>
    
          <div style="margin: 3em 0;">
            <h1 style="text-align: center; font-size: 2em; letter-spacing: .5em;"><%= data.otp %></h1>
          </div>
          <div style="margin-top: 40px;">
            <p>Thank You,</p>
            <p style="margin-top: 6px;"><%= process.env.APP_NAME %> Team.</p>
          </div>
        </div>
        <div style="background-color: #FA0203; color: white; padding: 1.5em 2em; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px;">
          <p style="text-align: center;">© 2024 <%= process.env.APP_NAME %>.</p>
        </div>
      </td>
    </tr>
  </table>
</body>
</html>